{% extends "HospitalizacionBundle::layout.html.twig"%}
{% set titulo="Datos de Internación - Cama: "~cama %}

{% block title  %}
    {{ titulo }}
{% endblock %}

{% block cabecera_principal  %}
    {{ titulo }}
{% endblock %}

{% block contenido  %}
    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <p class="flash-{{ tipo }}">{{ mensaje }}</p>
        {% endfor %}
    {% endfor %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre Paciente H.C. </th>
                
                <th>Edad</th>
                
                <th>F. Ingreso</th>
                <th>Diagnostico - Medico</th>
                <th>Tipo Pac.</th>
                <th>Ref.</th>
                <th>Ingreso</th>
                <th>Servicio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{ admisionpaciente.paciente }}</td>
                
                <td>{{ admisionpaciente.paciente.edad }}</td>
                
                <td> <a href="{{ path('datos_internacion_fecha',{'admisionpaciente_id':admisionpaciente.id}) }}">{{ fadmi }}</a></td>
                <td> <a href="{{ path('datos_internacion_diagnostico',{'admisionpaciente_id':admisionpaciente.id}) }}"> {{diagnostico}}</a> </td>
                <td> <a href="{{ path('datos_internacion_seguro',{'admisionpaciente_id':admisionpaciente.id}) }}"> {{seguro}}</a> </td>
                <td> <a href="{{ path('datos_internacion_referencia',{'admisionpaciente_id':admisionpaciente.id}) }}"> {{referencia}}</a>  </td>
                <td> <a href="{{ path('datos_internacion_ingresapor',{'admisionpaciente_id':admisionpaciente.id}) }}"> {{ingreso}}</a> </td>
                <td> <a href="{{ path('datos_internacion_servicio',{'admisionpaciente_id':admisionpaciente.id}) }}"> {{servicio }}</a> </td>
            </tr>
            
        </tbody>
    </table>
{% endblock  %}