{% extends "HospitalizacionBundle::layout.html.twig"%}
{% set titulo="Registro de paciente en cama "~cama %}

{% block title  %}
    {{ titulo }}
{% endblock %}

{% block cabecera_principal  %}
    {{ titulo }}
{% endblock %}

{% block contenido  %}
    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <p class="flash-{{ tipo }}">{{ mensaje }}</p>
        {% endfor %}
    {% endfor %}
    {% if traslado %}
        <form method="GET" action="{{ path('censo_paciente_confirma_traslado', {'cama_id': cama.id,'paciente_id':paciente.id}) }}">
            <input type="button" value="Confirma el cambio de cama" onclick="if(confirm('Esta seguro(a) del traslado del paciente: {{paciente}} a la cama: {{cama}}')){this.form.submit()}"/>
        </form>
    {% endif %}
    
    <form action="{{ path('censo_paciente', {'cama_id': cama.id}) }}" method="post" {{form_enctype(formulario) }}>
      {{ form_widget(formulario) }}
      <input class="boton" type="submit" value="Registrar" />
    </form>
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    
            $(document).ready(function(){
               $('#{{ formulario.paciente.vars.id }}').autocomplete({
                    source :'{{ path('lista_paciente_array') }}'
                });
            });
    
    
  
{% endblock %}


