{% extends 'HospitalizacionBundle::layout.html.twig' %}
{% set titulo="Formulario de admisión hospitalaria" %}

{% block title  %}
    {{ titulo }}
{% endblock %}

{% block cabecera_principal  %}
    {{ titulo }}
{% endblock %}
 
{% block contenido %}
    
  {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <p class="flash-{{ tipo }}">{{ mensaje }}</p>
        {% endfor %}
  {% endfor %}
  
  <form action="{{ path('nueva_admision' ) }}" method="post" {{form_enctype(formulario) }}>
      {{ form_widget(formulario) }}
      <input class="boton" type="submit" value="Registrar nueva admisión" />
  </form>
    <!-- -->
    <hr/>
    <input id="clave_buscar" type="text" value=""/>
    <input id="link_diagnosticos" type="button" value="listar diagnosticos" />
    <hr />
    <div id="valor"></div>
    <div id="articulos"></div>
    <!-- -->
{% endblock %}


{% block javascript %}
    {{ parent() }}
            $(document).ready(function(){
                if (document.getElementById("{{ formulario.admision.tipoPaciente.vars.id }}").value==1){$('#{{ formulario.admision.seguro.vars.id }}').hide();}
                $('#{{ formulario.admision.diagnostico.vars.id }}').autocomplete({
                    source :'{{ path('listar_diagnosticos_array') }}'
                });
            });

            {{ include('HospitalizacionBundle:Default:autocompletar/funcionAutocompletarHc.html.twig', {
                    'var_id' : formulario.admision.paciente.vars.id,
                    'objetos' : pacSice
                }) 
            }}

            {{ include('HospitalizacionBundle:Default:autocompletar/funcionAutocompletar.html.twig', {
                    'var_id' : formulario.admision.medico.vars.id,
                    'objetos' : medicos
                }) 
            }}
            
            {{ include('HospitalizacionBundle:Default:autocompletar/funcionAutocompletar.html.twig', {
                    'var_id' : formulario.admision.seguro.vars.id,
                    'objetos' : convenios
                }) 
            }}
            
            {% include 'HospitalizacionBundle:Default:autocompletar/funcionAutocompletar.html.twig' 
                with {
                    'var_id' : formulario.cama.vars.id,
                    'objetos' : camas
                } 
            %}
            
            $(function(){
                $('#{{ formulario.fecha.vars.id }}').datepicker({
                    dateFormat: 'yy-mm-dd',
                }); 
            })
            $(function(){
                $('#{{ formulario.admision.tipoPaciente.vars.id }}').change(function() {
                    switch ($(this).find(":selected").val()) {
                        case '1':
                           $('#{{ formulario.admision.seguro.vars.id }}').hide();
// si se utiliza textbox   $('#{{ formulario.admision.seguro.vars.id }}').val('INSTITUCIONAL');
                           break;
                        case '2':
                           $('#{{ formulario.admision.seguro.vars.id }}').show();
// si se utiliza textbox   $('#{{ formulario.admision.seguro.vars.id }}').val('');
                           break;
                        default:
                           alert( "H ");
                      }
                }); 
            })
            
            $(document).ready(function(){
                $('#link_diagnosticos').click(function(){
                        url='{{ path('_listar_diagnosticos') }}'+document.getElementById("clave_buscar").value;
                        $('#articulos').load(url);
                });
                $('#clave_buscar').keypress(function(event){
                        url='{{ path('_listar_diagnosticos') }}'+document.getElementById("clave_buscar").value;
        //                $('#valor').html('<h3>valor :</h3>'+document.getElementById("clave_buscar").value+'. tecla: '+event.which);
                        if(event.which==13){
                            $('#articulos').load(url);
                        }
                });
            });


{% endblock %}