{% extends 'HospitalizacionBundle::layout.html.twig' %}
{% set titulo="Formulario de admisión hospitalaria" %}

{% block title  %}
    {{ titulo }}
{% endblock %}

{% block cabecera_principal  %}
    {{ titulo }}
{% endblock %}
 
{% block contenido %}
    
  {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
            <p class="flash-{{ tipo }}">{{ mensaje }}</p>
        {% endfor %}
    {% endfor %}
  
  <form action="{{ path('nueva_admision' ) }}" method="post" {{form_enctype(formulario) }}>
      {{ form_widget(formulario) }}
      <input class="boton" type="submit" value="Registrar nueva admisión" />
  </form>
    <!-- -->
    <hr/>
    <input id="clave_buscar" type="text" value=""/>
    <input id="link_diagnosticos" type="button" value="listar diagnosticos" />
    <hr />
    <div id="valor"></div>
    <div id="articulos"></div>
    <!-- -->
{% endblock %}


{% block javascript %}
    {{ parent() }}
            $(document).ready(function(){
                $('#{{ formulario.admision.diagnostico.vars.id }}').autocomplete({
                    
                    
                    source :'{{ path('listar_diagnosticos_array') }}'
                });
            });

            {{ include('HospitalizacionBundle:Default:autocompletar/funcionAutocompletarHc.html.twig', {
                    'var_id' : formulario.admision.paciente.vars.id,
                    'objetos' : pacSice
                }) 
            }}

            {{ include('HospitalizacionBundle:Default:autocompletar/funcionAutocompletar.html.twig', {
                    'var_id' : formulario.admision.medico.vars.id,
                    'objetos' : medicos
                }) 
            }}
            
            {% include 'HospitalizacionBundle:Default:autocompletar/funcionAutocompletar.html.twig' 
                with {
                    'var_id' : formulario.cama.vars.id,
                    'objetos' : camas
                } 
            %}
            
            $(function(){
                $('#{{ formulario.fecha.vars.id }}').datepicker({
                    dateFormat: 'yy-mm-dd',
                }); 
            })
            
            
            $(document).ready(function(){
                url='{{ path('listar_diagnosticos_array') }}';
                $('#articulos').load(url);
            });

{% endblock %}