{% extends 'HospitalizacionBundle::layout.html.twig' %}
{% set titulo="CONTROL DEL CENSO DE CAMAS, ADMISIONES Y ALTAS" %}

{% block title  %}
    {{ titulo }}
{% endblock %}

{% block cabecera_principal  %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <article class="oferta">
        <section class="admision">
            {% for mensaje in app.session.flashbag.get('info' ) %}
                <p class="info">{{ mensaje }}</p>
            {% endfor %}
            
            <ul>
            {% for sala in salas %}
                <li> {{ sala.nombre }} : {{sala.servicio }}</li>
                <ul>
                {% for cama in camas[sala.id] %}
                    <li>cama {{ cama.nombre }} : pac: 
                        {% if pacientes[cama.id] %}
                            <a href="{{ path('censo_cama_cambio') }}">{{ pacientes[cama.id].admision.paciente }}  </a> 
                            <img alt="Foto" src="{{ asset('uploads/images/' ~pacientes[cama.id].admision.paciente.rutafoto) }}">
                            {% if not camasVerificadas[cama.id] %}
                            <form method="GET" action="{{ path('confirma_camaocupada', {'cama_id': cama.id,'paciente_id':pacientes[cama.id].admision.paciente.id})}}">
                                <input type="submit" value="Conf.Paciente" />
                            </form>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('censo_paciente') }}"> LIBRE </a>
                            {% if not camasVerificadas[cama.id] %}
                            <form method="GET" action="{{ path('confirma_camalibre', {'cama_id': cama.id})}}">
                                <input type="submit" value="Conf.libre" />
                            </form>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>

            
        </section>

    </article>
      
            
{% endblock %}