<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Portada | IGBJ </title>
</head>
<body id="portada">
  <div id="contenedor">
    <header>
        <h1><a href="#">TITULO CABECERA - IGBJ </a></h1>
        <nav>
          <ul>
            <li><a href="#">Opcion 1 cab</a></li>
            <li><a href="#">Opcion 2 cab</a></li>
            <li><a href="#">Opcion 3 cab</a></li>
          </ul>
        </nav>
    </header>
      
    <article class="oferta">
        <section class="admision">
            <h1><a href="#"> ## seccion 1 de art. ## </a></h1>
            ## CENSO DE CAMAS - FECHA  ##
            
            <ul>
            {% for sala in salas %}
                <li> {{ sala.nombre }} : {{sala.servicio }}</li>
                <ul>
                {% for cama in camas[sala.id] %}
                    <li>cama {{ cama.nombre }} : pac: 
                        {% if pacientes[cama.id] %}
                            <a href="{{ path('pagina_inicial') }}">{{ pacientes[cama.id].admision.paciente }} </a>
                        {% else %}
                            LIBRE
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
            <form action="{{ path('pagina_inicial' ) }}" method="post" {#{form_enctype(formulario) }#}>
                {#{ form_widget(formulario) }#}
                <input class="boton" type="submit" value="Registrarme" />
            </form>
            
        </section>

    </article>
      
    <aside>
        ## LATERAL ---- FORMULARIO DE LOGIN ##
        <section id="nosotros">
            <h2>Sobre nosotros</h2>
            <p>fin lateral...</p>
        </section>
    </aside>
      
    <footer>
        &copy; PIE DE PAGINA 201X - IGBJ
        <a href="#">Ayuda</a>
        <a href="#">Contacto</a>
        <a href="#">Privacidad</a>
        <a href="#">Sobre nosotros</a>
    </footer>
  </div>
</body>
</html>