{% extends 'HospitalizacionBundle::layout.html.twig' %}
{% set titulo="CONTROL CENSO DE CAMAS, ADMISIONES Y ALTAS "~factual|date("d/m/Y") %}

{% block title  %}
    {{ titulo }}
{% endblock %}

{% block cabecera_principal  %}
    {{ titulo }}
{% endblock %}

{% block contenido %}
    <article class="oferta">
        <section class="admision">
            {% for tipo, mensajes in app.session.flashbag.all() %}
                {% for mensaje in mensajes %}
                    <p class="flash-{{ tipo }}">{{ mensaje }}</p>
                {% endfor %}
            {% endfor %}
            
            <ul>
            {% for sala in salas %}
                <li> {{ sala.nombre }} : {{sala.servicio }}</li>
                <ul>
                {% for cama in camas[sala.id] %}
                    <li>cama {{ cama.nombre }} : estado: {{ cama.ocupada?'Ocupada':'Libre' }} Pac.: 
                        {% if pacientes[cama.id] %}
                            <a href="{{ path('censo_cama_cambio',{'cama_id':cama.id}) }}">{{ pacientes[cama.id] }}  </a> 
                            <img alt="Foto" src="{{ asset('uploads/images/' ~pacientes[cama.id].rutafoto) }}">
                            {% if not camasVerificadas[cama.id] %}
                            <form method="GET" action="{{ path('confirma_camaocupada', {'cama_id': cama.id,'paciente_id':pacientes[cama.id].id})}}">
                                <input type="submit" value="Conf.Paciente" />
                            </form>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('censo_paciente', {'cama_id': cama.id}) }}"> LIBRE </a>
                            {% if not camasVerificadas[cama.id] %}
                            <form method="GET" action="{{ path('confirma_camalibre', {'cama_id': cama.id}) }}">
                                <input type="submit" value="Conf.libre" />
                            </form>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>

            
        </section>

    </article>
      
            
{% endblock %}